.About h1{
    color: #009FFD;
    font-size: max(50px,1.5vi);
    font-family: 'ubuntu',sans-serif;

}
.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60em;
    width: 100vw;
    background-color: #131416;
    min-width: 800px;
}
.identity{
    margin: 5vh 10vw;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    width: 80vw;
    justify-content: center;
}

.identity p{
    color:aliceblue;
    font-size: max(25px,1.5vi);
    align-self: flex-start;
    margin-top: 50px;
    overflow: hidden;
    max-width: 800px;
}
#myImage{
    width: 30%;
    height: auto;
    padding: 0px;
    margin-right: 5rem;
}

