.About h1{
    color: #009FFD;
    font-size: 50px;
    font-family: 'ubuntu',sans-serif;

}
.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65em;
    width: 100vw;
    background-color: #131416;

}
.identity{
    margin: 5vh 10vw;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    width: 80vw;
    justify-content: center;
}

.identity p{
    color:aliceblue;
    font-size: 25px;
    align-self: flex-start;
    margin-top: 50px;
    overflow: hidden;
    text-align: center;
}
#myImage{
    width: 20em;
    height: auto;
    padding: 0px;
    margin-right: 5rem;
    min-width: 200px;

}

