.topbar {
    display: flex;
    flex-direction: row;
    border: white solid 2px;
    width: 100%;
    justify-content: space-between;
    background-color: #131416;
    margin: 0px;
    align-items: center;
    border: hidden 0px;
    border-radius: 0px;
    padding: 0px;
    height: 90px;
    position: fixed;
    z-index: 100;
    top: 0;
}
.links{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    height: 100%;
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
li{
    height: 100%;
    margin: 0px;
}

.topbar li:hover{
    background-color: white;
    a{

        color: #131416;
    }
}



.logo img{
    width: 100px;
    padding-left: 10px;
}
/* From Uiverse.io by Cevorob */ 
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: aliceblue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .links-button{
    display: none;
  }

  
  .LinkBox {
      width: 100%;
      color: white;
      background: #131416;
      display: none;
      overflow: hidden;
    align-items: flex-start;
    height: 0px;
    position: fixed;
    z-index: 99;
    top: 90px;
    transition: height 0.5s;
}
.LinkBox ul{
  display: flex;
  flex-direction: column;
}
.LinkBox li{
    margin-left: 0px;
    padding-left: 60px;
    width: 100%;
    padding: 20px 20px;
}
.LinkBox li:hover{
    background:white ;
    a{
        color: #131416;
    }
  }
    @media screen and (max-width: 800px){
      .links-button{
          display: block;
          margin-right: 20px;
      }
      .links{
          display: none;
      }
      .LinkBox{
          display: flex;
          flex-direction: row;
      }
    }